@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Bold Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono Bold Italic.woff") format("woff"),
	url("../fonts/Roboto Mono Bold Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Bold.woff2") format("woff2"),
	url("../fonts/Roboto Mono Bold.woff") format("woff"),
	url("../fonts/Roboto Mono Bold.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono ExtraLight Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono ExtraLight Italic.woff") format("woff"),
	url("../fonts/Roboto Mono ExtraLight Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono ExtraLight.woff2") format("woff2"),
	url("../fonts/Roboto Mono ExtraLight.woff") format("woff"),
	url("../fonts/Roboto Mono ExtraLight.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono Italic.woff") format("woff"),
	url("../fonts/Roboto Mono Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Light Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono Light Italic.woff") format("woff"),
	url("../fonts/Roboto Mono Light Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Light.woff2") format("woff2"),
	url("../fonts/Roboto Mono Light.woff") format("woff"),
	url("../fonts/Roboto Mono Light.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Medium Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono Medium Italic.woff") format("woff"),
	url("../fonts/Roboto Mono Medium Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Medium.woff2") format("woff2"),
	url("../fonts/Roboto Mono Medium.woff") format("woff"),
	url("../fonts/Roboto Mono Medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Regular.woff2") format("woff2"),
	url("../fonts/Roboto Mono Regular.woff") format("woff"),
	url("../fonts/Roboto Mono Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono SemiBold Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono SemiBold Italic.woff") format("woff"),
	url("../fonts/Roboto Mono SemiBold Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono SemiBold.woff2") format("woff2"),
	url("../fonts/Roboto Mono SemiBold.woff") format("woff"),
	url("../fonts/Roboto Mono SemiBold.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Thin Italic.woff2") format("woff2"),
	url("../fonts/Roboto Mono Thin Italic.woff") format("woff"),
	url("../fonts/Roboto Mono Thin Italic.ttf") format("truetype");
}
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: local('Roboto Mono'),
	url("../fonts/Roboto Mono Thin.woff2") format("woff2"),
	url("../fonts/Roboto Mono Thin.woff") format("woff"),
	url("../fonts/Roboto Mono Thin.ttf") format("truetype");
}
